.loaderspinner{
    position: fixed;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid black;
    border-color: black transparent black transparent;
    border-radius: 50%;
    animation: spin 1.3s ease infinite;
    transition: opacity 0.75s, visibility 0.75s;
}
.loaderspinner--hidden{
    visibility: hidden;
}

@keyframes spin{
    to{
        transform: rotate(1turn);
    }
}



<section class="restaurants">
<div class="restaurants__card">
    <div class="restaurants__card__element">
        <a href="lpdg.html">
            <div class="card__onebyone">
                <div class="card__image">
                    <img class="card__img" src="image/restaurant/lpdg.jpg" alt="Restaurant Ménilmontant">
                </div>
                <div class="card__description">
                    <div class="card__description__text">
                        <h3>La palette du goût</h3>
                        <p>Ménilmontant</p>
                    </div>
                    <div class="card__description__like">
                        <div class="like__btn">
                            <i class="far fa-heart empty"></i>
                            <i class="far fa-heart fa-solid full"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="restaurants__card__element">
        <a href="lne.html">
            <div class="card__onebyone">
                <div class="card__image">
                    <img class="card__img" src="image/restaurant/lne.jpg" alt="Restaurant Ménilmontant">
                </div>
                <div class="card__description">
                    <div class="card__description__text">
                        <h3>La note enchantée</h3>
                        <p>Charonne</p>
                    </div>
                    <div class="card__description__like">
                        <div class="like__btn">
                            <i class="far fa-heart empty"></i>
                            <i class="far fa-heart fa-solid full"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="restaurants__card__element">
        <a href="alfr.html">
            <div class="card__onebyone">                            <div class="card__image">
                    <img class="card__img" src="image/restaurant/alfr.jpg" alt="Restaurant Ménilmontant">
                </div>
                <div class="card__description">
                    <div class="card__description__text">
                        <h3>A la française</h3>
                        <p>Cité Rouge</p>
                    </div>
                    <div class="card__description__like">
                        <div class="like__btn">
                            <i class="far fa-heart empty"></i>
                            <i class="far fa-heart fa-solid full"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="restaurants__card__element">
        <a href="ldds.html">
            <div class="card__onebyone">
                <div class="card__image">
                    <img class="card__img" src="image/restaurant/ldds.jpg" alt="Restaurant Ménilmontant">
                </div>
                <div class="card__description">
                    <div class="card__description__text">
                        <h3>Le délice des sens</h3>
                        <p>Folie-Méricourt</p>
                    </div>
                    <div class="card__description__like">
                        <div class="like__btn">
                            <i class="far fa-heart empty"></i>
                            <i class="far fa-heart fa-solid full"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
</section>
</main>
<footer>
<section class="footer">
<div class="footer__element">
    <h3 class="footer__element__title">OhMyFood</h3>
    <div class="footer__ul">
        <div class="footer__li"><i class="fas fa-utensils"></i>  Proposer un restaurant</div>
        <div class="footer__li"><i class="fas fa-hands-helping"></i>  Devenir partenaire</div>
        <div class="footer__li">Mentions Légales</div>
        <div class="footer__li">Contact</div>
    </div>
</div>
</footer>
</body>
</html>